<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido a PoggersPackage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Esperamos que tengas una buena estancia</ion-card-title>
      <ion-card-subtitle>:D</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      En ésta aplicacion podrás ver los paquetes que están vigentes sus envíos
    </ion-card-content>
  </ion-card>


</ion-content>
