<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button horizontal = "end" size="small" (click)="goHome();" color="primary">
      Home
     </ion-button> Repartidor {{repartidor.id}}

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style ="max-width: fit-content;">
    <ion-card-header>
      <ion-card-title>{{repartidor.nombre}} {{repartidor.apellido}}</ion-card-title>
      <ion-item>{{repartidor.rut}}</ion-item>
      <ion-img [src]="repartidor.ImgURL" style="height: 300px; width: 300px; "></ion-img>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-title>Paquetes Asociados</ion-card-title>
    <ion-list>
      <ion-item>{{this.paquetes}}</ion-item>
    </ion-list>
  </ion-card>
  <ion-button horizontal = "end" size="small" (click)="goRepartidores();" color="primary">
    Volver
   </ion-button>
</ion-content>
