<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <ion-button horizontal = "end" size="small" (click)="goHome();" color="primary">
        Home
    </ion-button> Paquetes a Repartir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item *ngFor = "let p of paquetes">
    <ion-avatar slot="start">
      <ion-img [src]="p.ImgURL"></ion-img>
    </ion-avatar>
    <ion-label [routerLink] = "['/paquetes',p.id]">{{p.nombrePaquete}}</ion-label>
  </ion-item>
</ion-list>
<ion-item>
  <ion-button [routerLink]="['./add-paquete']">Crear Paquete</ion-button>
</ion-item>


</ion-content>
